{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Адмін панель</h2>
<form method="POST">
    <div class="mb-3">
        <label class="form-label">Назва продукту</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Опис</label>
        <textarea name="desc" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Файл зображення (наприклад: robot1.jpg)</label>
        <input type="text" name="img" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Додати продукт</button>
</form>

{% endblock %}
