{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>Додати новий продукт</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.desc.label(class="form-label") }}
      {{ form.desc(class="form-control", rows=4) }}
    </div>
    <div class="mb-3">
      {{ form.img_file.label(class="form-label") }}
      {{ form.img_file(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-success") }}
    <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-secondary">Назад</a>
  </form>
</div>
{% endblock %}